.headers{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
}   
ul{
    list-style: none;
}
#navbar-list{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
}
a{
cursor: pointer;
color: white;
}
a:hover{
    color:cadetblue;
    zoom: 110%;
    transition: 2s;
}
.search{
    padding: 30px;
    display: block;
    text-align: center;
}
.search input{
width: 80%;
height: 20px;
padding: 10px;
font-size: 18;
border-radius: 10px;
border:solid 2px lightgrey;
}
.products{
    display: flex;
    width: 80%;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    flex-grow: 3;
    margin-left: 10%;
}

img{
    width: fit-content;
    height: 300px;
}
#box{
    width: 26.6%;
    text-align: center;
    text-wrap: wrap;
    border: solid black 2px;
    display: inline-block;
    border-radius:10px;
}
#about{
    text-align: center;
    padding: 10px;
}
#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}